@import "null"; //обнуляем параметры
@import "fonts";
@import "icons";

//Шрифт по умолчанию

$fontFamily: Gilroy-Medium;
$fontSize: 16px;

//ПЕРЕМЕННЫЕ
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270; //+30px
$md1: ($maxWidthContainer + 12)+px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$mainColor: #3A3A3A;
$orangeColor: #E89F71;
$grayColor: #898989;
$darkGreyColor: #616161;

//ПЕРЕМЕННЫЕ

body {

	color: $mainColor;

	&._lock {
		overflow: hidden;
	}

	font-family: $fontFamily;
	font-size: $fontSize;

}

//<ОБОЛОЧКА> вообще для всего контента. Помогает раскидать удобно header, footer and main
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden; //контент обрезается без предоставления прокрутки
	display: flex;
	flex-direction: column;
	/* &._loaded {
    } */
}

//<ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
._container {
	max-width: $maxWidthContainer + px;
	padding: 0px 15px; //вот те 30px
	margin: 0 auto;
}

footer,
header {
	flex: 0 0 auto;
}

.page {
	flex: 1 1 auto;
}