@import "null";

// start var
$fontFamily: 'Rubik', sans-serif;
$fontSize: 18px;

$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1342; //+30px
$md1: ($maxWidthContainer + 12)+px;
$md2: 991.98px;
$md3: 767.98px;
$md4: 479.98px;

$darkColor: #111111;
$yellowColor: #FCDA28;
$whiteColor: #FFFFFF;
$orangeColor: #FCB500;

//end var

body {
	color: $whiteColor;
	font-family: $fontFamily;
	font-size: $fontSize;

}
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

//main style
.container {
	max-width: $maxWidthContainer + px;
	padding: 0px 15px; //вот те 30px
	margin: 0 auto;
}

footer,
header {
	flex: 0 0 auto;
}

.page {
	flex: 1 1 auto;
}

